/* Styling for image containers */
.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }
  
  .img1 {
    width: 40%;
    transition: transform 0.2s;
    margin-right: 30px; /* Adjust the margin to create spacing */
    margin-bottom:90%; /* Adjust the margin to create spacing */
    margin-top: 50px;
    }
    
  
  
  /* Hover effect for img1 */
  .img1:hover {
    transform: scale(1.1);
  }
  
  
  /* Hover effect for img2 */
  .img2:hover {
    transform: scale(1.1);
    
  }
  .img2{
    width: 50%;
    transition: transform 0.2s;
    margin-left: 10px; /* Adjust the margin to create spacing */
    margin-top:0%; /* Adjust the margin to create spacing */
  }
  /* Styling for drop-container */
  .drop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ccc;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
    margin-right: 10%;
    margin-bottom: 100%;
    margin-left: 10%;
  }
  
  .drop-title {
    font-size: 18px;
    color: #ec0707;
    text-align: center;
  }
  
  /* Styling for loading message */
  .loading-message {
    text-align: center;
    margin: 20px 0;
    font-size: 16px;
    color: #ec0707;
  }
  
  /* Styling for the PDF display */
  .pdf-display {
    text-align: left;
    margin-bottom: 100%;
    
  }
  
  .pdf-image {
    max-width: 100%;
    height: auto;
    margin: 20px 0;
    margin-bottom:80%;
  }
  /* In your CSS file (e.g., home.css) */
  
  
  /* Styling for page navigation */
  .prev-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
    margin-left: 0;
    margin-right:0;
  }
  .nxt-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    margin: 10px;
    
    margin-right:50%;
  }
  
  
  /* Styling for the "Download" button */
  .dwd-btn {
    background-color: #ff0000;
    color: #fbfbfb;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
  }
  
  /* Styling for the page number select */
  #pageNumber {
    font-size: 18px;
    font-weight: bold;
    border: 1px solid black;
    border-color: black;
    padding: 6px;
   
  }
  
  /* Styling for other elements */
  .mainHead {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    text-align: center;
  }
  
  .subHead {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
    text-align: center;
  }
  
  .center-container1 {
    text-align: center;
    margin: 20px 0;
  }
  
  